<div id="normal-view">
    <div id="fixedbutton">
      <button mat-fab class="btn btn-gradiant"
          matTooltip="Ajouter un nouveau terrain"
          matTooltipPosition="left"
          matTooltipHideDelay="800">
          <mat-icon>add</mat-icon>
        </button>
  </div>
  <div class="container">
    <div class="row" [ngStyle]="{'padding-bottom' : isMobile ? '120px' : '100px'}">
      <div class="col-md-12" *ngIf="loading" >
        <p> Chargement ... </p>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 mb-3" *ngFor="let terrain of dataSource; let i = index">
        <div class="my-card" >
            <div [ngStyle]="{'background-image' : 'url(' + terrain.url + ')'}" [id]="'img-'+i" class="image-card pointer"  >
            </div>
           <div style="cursor: pointer; padding: 10px;">
             <div class="flex">
              <p class="h4 ">
                <b>{{ terrain.category }} </b> 
              </p>
              <div class="spacer"></div>
             <!-- <button mat-mini-fab style="color: #3ab763;" class="fab-button-overlay mr-2" [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button (click)="openDialog(terrain)" mat-menu-item>
                  <mat-icon>edit</mat-icon>
                  <span>Modifier</span>
                </button>
                <button (click)="delete(terrain)" mat-menu-item>
                  <mat-icon>delete</mat-icon>
                  <span>Supprimer</span>
                </button>
               
              </mat-menu>
            </div>-->
            <div class="number">
              <p  (click)=details(terrain)>
                <mat-icon style="vertical-align: bottom;" >keyboard_arrow_right</mat-icon>
                 <!-- <b>Matériel disponible: </b>  -->
                 <span class="badge badge-secondary">{{ terrain.quantity }}</span>
              </p>
            </div>
            
          </div> 
          <div class="row">
            <div class="col">
              <button class="rounded-0 btn-layout" type="button" (click)="openDialog(terrain,'add')">
                <i class="fa fa-plus rounded-0" aria-hidden="true"></i>
              </button>
              <button class="rounded-0 btn-layout" type="button" (click)="openDialog(terrain,'sub')">
                <i class="fa fa-minus rounded-0" aria-hidden="true"></i>
              </button>
            </div>
         
            <div class="col text-right">
              <button class="rounded-0 btn-layout" type="button" (click)="delete(terrain,'sub')">
                <i class="fa fa-trash rounded-0" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>


  <div id="fixedbutton">
    <button mat-fab *ngIf="isMobile" (click)="addEquipment()" class="btn btn-gradiant">
        <mat-icon>add</mat-icon>
    </button>
    <button mat-fab *ngIf="!isMobile" (click)="addEquipment()" class="btn btn-gradiant">
        <mat-icon>add</mat-icon>
    </button>
</div>