<form #reservForm="ngForm">
    <h4 class="modal-title text-center" style="margin-bottom: 0 !important;">
        Modifier <br>
        <!-- <span *ngIf="uniqueTerrain">{{monTerrain}}</span> -->
    </h4>
    <table class="custom-event-editor" width="100%" cellpadding="5">
        <tbody>
            <tr>
                <td class="e-textlabel">Quantité</td>
                <td colspan="4">
                    <input class="e-field e-input" required placeholder="Quantité"
                        [ngModelOptions]="{standalone: true}" type="text" id="Name-Mob" name="quantity"
                        [(ngModel)]="resMobile.quantity" #nm="ngModel" style="width: 100%" />
                    <div class="text-danger" *ngIf="nm.touched && nm.invalid"> Veuillez saisir la quantité
                    </div>
                </td>
  
            </tr>
            <!-- <tr>
                <td class="e-textlabel">Prix unitaire</td>
                <td colspan="4">
                    <input class="e-field e-input" required placeholder="prix unitaire"
                        [ngModelOptions]="{standalone: true}" type="number" id="Name-Mob" name="unitPrice"
                        [(ngModel)]="resMobile.unitPrice" #nm="ngModel" style="width: 100%" />
                    <div class="text-danger" *ngIf="nm.touched && nm.invalid"> Veuillez saisir le prix unitaire
                    </div>
                </td>
  
            </tr> -->
        </tbody>
    </table>
    <!-- <div class="text-danger" *ngIf="already">
        Terrain indisponible à cette heure
    </div> -->
    <div style="display: flex; width: 100%">
        <div>
            <button class="btn btn-lg btn-shadow btn-danger" (click)="onNoClick()"> Annuler
            </button>
        </div>
        <div style="margin: 0 auto;"></div>
        <div>
            <app-state-button [btnClass]="'btn btn-secondary btn-lg btn-shadow'" [currentState]="buttonState"
                [isDisabled]="buttonDisabled || reservForm.invalid" (click)="onSubmit()">
                <span>Modifier</span>
            </app-state-button>
        </div>
    </div>
  </form>
  
  <simple-notifications></simple-notifications>