<div class="main-panel">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 mb-3 grid-margin stretch-card">
                <div class="card">
                    <div class="profile-card">

                        <div class="profile-header">

                            <div class="cover-image">
                                <img src="/assets/imgs/cover-profile.png" class="img img-fluid" style="width: 100%;">
                            </div>
                            <div class="user-image ">
                                <div class="image-container">
                                    <img [src]="imageSrc" (error)="defaultImage()" class="img ">
                                    <div class="overlay" *ngIf="!isImageUploadLoading" (click)="fileSelect.click()">
                                        <!--  -->
                                        <div class="text">
                                            <!-- <mat-icon>edit</mat-icon> -->
                                            <button mat-fab class="mat-f">
                                                <mat-icon class="camera">photo_camera</mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="fixed-overlay" *ngIf="isImageUploadLoading">
                                        <div class="lds-roller">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                    </div>
                                </div>
                                <input type="file" style="display: none;" (change)="imageSelected($event)"
                                    accept="image/*" #fileSelect id="">
                            </div>
                        </div>

                        <div class="profile-content">
                            <div class="profile-name text-center " [routerLink]="'/football/app/dashboards/player'">
                                {{ profile?.profile?.firstName + ' ' + profile?.profile?.lastName | titlecase }} </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 grid-margin stretch-card" style="margin-bottom: 100px;">
                <div class="card">
                    <div class="card-body">
                        <div style="display: flex;">
                            <div>
                                <h2 class="card-title font-weight-bold">A propos</h2>
                            </div>
                            <div style="margin: 0 auto;"></div>
                            <div>
                                <i (click)="openModifyAccount()" id="update-btn"
                                    class="flaticon-setting-lines mr-3"></i>
                            </div>
                        </div>
                        <div>
                            <tabset>
                                <tab heading="Profil" id="tab1">
                                    <div style="display: flex;" class="mt-3">
                                        <div style="margin: 0 auto;"></div>
                                        <div>
                                            <i (click)="openModifyAccount()" id="update-btn"
                                                class="flaticon-setting-lines mr-3"></i>
                                        </div>
                                    </div>
                                    <ul class="about" id="show-details">
                                        <li class="about-items"><i class="mdi mdi-account icon-sm "></i>
                                            <span class="fw-700">Nom et Prénom:</span> <br>
                                            <span class="">
                                                {{ profile?.profile?.firstName + ' ' + profile?.profile?.lastName |
                                                titlecase }}
                                            </span>
                                        </li>
                                        <li class="about-items"><i class="mdi mdi-map-marker icon-sm "></i>
                                            <span class="fw-700">Age:</span> <br>
                                            <span class="about-item-detail" *ngIf="profile?.profile?.age != ''">
                                                {{ profile.profile.age }} </span>
                                            <span class="about-item-detail" *ngIf="profile?.profile?.age == ''"> ----
                                            </span>
                                        </li>
                                        <li class="about-items"><i class="mdi mdi-mail-ru icon-sm "></i>
                                            <span class="fw-700">Taille:</span> <br>
                                            <span class="about-item-detail">{{ profile?.profile?.height }} </span>
                                        </li>

                                        <li class="about-items">
                                            <span class="fw-700">Poids:</span> <br>
                                            <span class="about-item-detail" *ngIf="profile?.profile?.weight != '' ">
                                                {{profile.profile?.weight}} </span>
                                            <span class="about-item-detail" *ngIf="profile?.profile?.weight == ''">
                                                ---- </span>
                                        </li>
                                        <li class="about-items"><i class="mdi mdi-map-marker icon-sm "></i>
                                            <span class="fw-700">Pieds:</span> <br>
                                            <span class="about-item-detail" *ngIf="profile?.profile?.rightFooted != ''">
                                                {{ profile?.profile?.rightFooted }} </span>
                                            <span class="about-item-detail" *ngIf="profile?.profile?.rightFooted == ''">
                                                ----
                                            </span>
                                        </li>
                                        <!-- <li class="about-items"><i class="mdi mdi-map-marker icon-sm "></i>
                                            <span class="fw-700">Maillot:</span> <br>
                                            <span class="about-item-detail" *ngIf="profile.profile.ShirtNumber != ''">
                                                {{ profile.profile.ShirtNumber }} </span>
                                            <span class="about-item-detail" *ngIf="profile.profile.ShirtNumber == ''"> ----
                                            </span>
                                        </li> -->
                                        <li class="about-items"><i class="mdi mdi-map-marker icon-sm "></i>
                                            <span class="fw-700">Position:</span> <br>
                                            <span class="about-item-detail" *ngIf="profile.profile.position != ''">
                                                {{ profile.profile.position }} </span>
                                            <span class="about-item-detail" *ngIf="profile?.profile?.position == ''">
                                                ----
                                            </span>
                                        </li>
                                        <li class="about-items"><i class="mdi mdi-map-marker icon-sm "></i>
                                            <span class="fw-700">Maillot:</span> <br>
                                            <span class="about-item-detail" *ngIf="profile?.profile?.shirtNumber != ''">
                                                {{ profile.profile.shirtNumber }} </span>
                                            <span class="about-item-detail" *ngIf="profile?.profile?.shirtNumber == ''">
                                                ----
                                            </span>
                                        </li>
                                        <li class="about-items"><i class="mdi mdi-map-marker icon-sm "></i>
                                            <span class="fw-700">Equipe préférée:</span> <br>
                                            <span class="about-item-detail" *ngIf="profile?.profile?.Team != ''">
                                                {{ profile.profile.Team }} </span>
                                            <span class="about-item-detail" *ngIf="profile?.profile?.Team == ''"> ----
                                            </span>
                                        </li>

                                    </ul>
                                    <div id="show-forms" style="display: none;">

                                        <form #createForm="ngForm" (ngSubmit)="openModifyAccount()">
                                            <div class="row">
                                                <div class="col">
                                                    <label class="form-group has-float-label">
                                                        <input class="form-control"
                                                            style="padding: .8rem; font-size: 1.1rem" required
                                                            #prenom="ngModel" name="text" name="pre"
                                                            [(ngModel)]="profile.profile.firstName" />
                                                        <span style="font-size: 100% !important;">Prénom</span>
                                                        <div *ngIf="!prenom.valid && createForm.submitted"
                                                            class="invalid-tooltip">Champ
                                                            requis!</div>
                                                    </label>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col">
                                                    <label class="form-group has-float-label">
                                                        <input class="form-control"
                                                            style="padding: .8rem; font-size: 1.1rem" required
                                                            #lst="ngModel" type="text" name="nom" id="last-name"
                                                            [(ngModel)]="profile.profile.lastName" />
                                                        <span style="font-size: 100% !important;">Nom</span>
                                                        <div *ngIf="!lst.valid && createForm.submitted"
                                                            class="invalid-tooltip">
                                                            Champ
                                                            requis!</div>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <label class="form-group has-float-label">
                                                        <input class="form-control"
                                                            style="padding: .8rem; font-size: 1.1rem" type="number"
                                                            name="taille" [value]="profile?.profile?.height"
                                                            [(ngModel)]="profile.profile.height" />
                                                        <span style="font-size: 100% !important;">Taille</span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <label class="form-group has-float-label">
                                                        <input class="form-control"
                                                            style="padding: .8rem; font-size: 1.1rem" type="number"
                                                            name="weight" [value]="profile?.profile?.weight"
                                                            [(ngModel)]="profile.profile.weight" />
                                                        <span style="font-size: 100% !important;">Poids</span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <label class="form-group has-float-label">
                                                        <input class="form-control"
                                                            style="padding: .8rem; font-size: 1.1rem" type="number"
                                                            name="age" [value]="profile?.profile?.age"
                                                            [(ngModel)]="profile.profile.age" />
                                                        <span style="font-size: 100% !important;">Age</span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <label class="form-group has-float-label">
                                                        <select class="custom-select" id="selectedItem"
                                                            style="padding: .8rem; font-size: 1.1rem;"
                                                            name="selectedItem"
                                                            [(ngModel)]="selectedItem"
                                                            (change)="changedPosition($event)">
                                                            <option *ngFor="let item of positionList"
                                                                [value]="item.value">{{item?.value}}</option>
                                                        </select>
                                                        <span style="font-size: 100% !important;">Position</span>
                                                    </label>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col">
                                                    <label class="form-group has-float-label">
                                                        <input class="form-control"
                                                            style="padding: .8rem; font-size: 1.1rem"
                                                            [(ngModel)]="profile.profile.shirtNumber" type="number"
                                                            name="shirtNumber"
                                                            [value]="profile?.profile?.shirtNumber" />
                                                        <span style="font-size: 100% !important;">Maillot</span>
                                                    </label>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col">
                                                    <label class="form-group has-float-label">
                                                        <input class="form-control"
                                                            style="padding: .8rem; font-size: 1.1rem"
                                                            [(ngModel)]="profile.profile.Team" type="text" name="Team"
                                                            [value]="profile?.profile?.Team" />
                                                        <span style="font-size: 100% !important;">Equipe préférée</span>
                                                    </label>
                                                </div>
                                            </div>

                                            <div style="display: flex;">
                                                <div style="margin: 0 auto;"></div>
                                                <app-state-button [btnClass]="'btn btn-gradiant btn-lg btn-shadow'"
                                                    [currentState]="buttonState" [isDisabled]="buttonDisabled"
                                                    (click)="UpdateProfile()">
                                                    Mettre à jour
                                                </app-state-button>
                                            </div>
                                        </form>
                                    </div>
                                </tab>

                                <tab heading="Mot de passe">
                                    <form class="mt-4" (ngSubmit)="updatePassword()">

                                        <label class="form-group has-float-label">
                                            <input class="form-control" style="padding: .8rem; font-size: 1.1rem"
                                                required #oldPwd="ngModel" name="old" type="password"
                                                [(ngModel)]="oldPassword" />
                                            <span style="font-size: 100% !important;">Ancien Mot de passe</span>
                                            <!-- <div *ngIf="!pwd.valid && createForm.submitted" class="invalid-tooltip">
                                                Champ
                                                requis!</div> -->
                                        </label>
                                        <label class="form-group has-float-label">
                                            <input class="form-control" style="padding: .8rem; font-size: 1.1rem"
                                                required #newPwd="ngModel" (keyup)="newChanged()" name="new"
                                                type="password" [(ngModel)]="newPassword" />
                                            <span style="font-size: 100% !important;">Nouveau Mot de passe</span>
                                            <!-- <div *ngIf="!pwd.valid && createForm.submitted" class="invalid-tooltip">
                                                Champ
                                                requis!</div> -->
                                        </label>
                                        <label class="form-group has-float-label">
                                            <input class="form-control" style="padding: .8rem; font-size: 1.1rem"
                                                required #conf="ngModel" (keyup)="confirmChanged()" name="co"
                                                type="password" [(ngModel)]="confirmPassword" />
                                            <span style="font-size: 100% !important;">Confirmer Mot de passe</span>
                                            <div *ngIf="!conf.valid && createForm.submitted" class="invalid-tooltip">
                                                Champ
                                                requis!</div>
                                        </label>
                                        <div class="text-danger" *ngIf="confirmIncorrect"> Les deux mots de passe ne se
                                            correpondent pas </div>


                                        <div style="display: flex;">
                                            <div style="margin: 0 auto;"></div>
                                            <app-state-button [btnClass]="'btn btn-gradiant btn-lg btn-shadow'"
                                                [currentState]="buttonPasswordState"
                                                [isDisabled]="buttonPasswordDisabled" click="updatePassword()">
                                                Mettre à jour
                                            </app-state-button>
                                        </div>
                                    </form>
                                </tab>
                            </tabset>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<simple-notifications></simple-notifications>