<div style="margin-top: 60px;">
<h1 class="text-center" *ngIf="!update" > Créer une nouvelle académie </h1>
<h1 class="text-center" *ngIf="update" > Modifier académie </h1>

<form #createForm="ngForm" novalidate (ngSubmit)="onSubmit()">
    <label class="form-group has-float-label">
        <input class="form-control" style="padding: .8rem; font-size: 1.1rem" required #titre="ngModel" name="nom" [(ngModel)]="academy.name" />
        <span  style="font-size: 100% !important;" >Nom de l'académie</span>
        <div *ngIf="!titre.valid && createForm.submitted" class="invalid-tooltip">Champ requis!</div>
    </label>
    <label class="form-group has-float-label">
        <textarea class="form-control" style="padding: .8rem; font-size: 1.1rem" required #addres="ngModel" name="address"  [(ngModel)]="academy.address" ></textarea>
        <span style="font-size: 100% !important;" >Adresse</span>
        <div *ngIf="!addres.valid && createForm.submitted" class="invalid-tooltip">Champ requis!</div>
    </label>

    <label class="form-group has-float-label">
      <input type="number" class="form-control" style="padding: .8rem; font-size: 1.1rem" required #frais="ngModel" name="frais" [(ngModel)]="academy.frais" />
      <span  style="font-size: 100% !important;" >Frais</span>
      <div *ngIf="!frais.valid && createForm.submitted" class="invalid-tooltip">Champ requis!</div>
  </label>

  <div class="row">
    <div class="col">
      <label class="form-group has-float-label">

        <timepicker #opening="ngModel" [showMeridian]="false" class="form-control" style="padding: .8rem; font-size: 1.1rem" required
          name="h-open" [(ngModel)]="hopen" [showSpinners]="false"></timepicker>
        <span style="font-size: 100% !important;">Horraire d'ouverture</span>
        <div *ngIf="!opening.valid && createForm.submitted" class="invalid-tooltip">
          Champ
          requis!</div>
      </label>
    </div>

    <div class="col">
      <label class="form-group has-float-label">

        <timepicker #closing="ngModel" [showMeridian]="false" class="form-control" style="padding: .8rem; font-size: 1.1rem" required
          name="h-close" [(ngModel)]="hclose" [showSpinners]="false"></timepicker>
  
        <span style="font-size: 100% !important;">Horraire de fermeture</span>
        <div *ngIf="!closing.valid && createForm.submitted" class="invalid-tooltip">
          Champ
          requis!</div>
      </label>
    </div>
  </div>
  
    <div class="pb-4 pt-2">
      <p class="text-black mb-2">Choisir un couleur</p>
      <div class="d-flex flex-row justify-content-between mb-3">
        <a *ngFor="let color of colors"  (click)="choose(color)" class="color-palette" [ngClass]="{ 'active-color' : selectedColor == color }"  >
          <div class="inner-color" [ngStyle]="{ 'background-color' : color }">  </div>
        </a>
      </div>
    </div>

    <div class="d-flex justify-content-between align-items-center">
        <button class="btn btn-lg btn-shadow btn-danger" (click)="onNoClick()" > Annuler </button>
        <app-state-button [btnClass]="'btn btn-gradiant btn-lg btn-shadow'" [currentState]="buttonState"
        [isDisabled]="buttonDisabled || createForm.invalid">
          <span *ngIf="!update" >Créer</span>
          <span *ngIf="update" >Modifier</span>
        </app-state-button>
      </div>
</form>
</div>
<simple-notifications></simple-notifications>